snippet file Insert full html base document #2
	<!doctype html>
	<html class="no-js" lang="">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title>${1}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
			${2}
		</body>
	</html>
snippet script
	<script type="text/javascript">
		${0}
	</script>
